body {
    margin: 0;
    padding: 0;
    background-color: #2f2859;
    color: #fff;
    font-family: "Chakra Petch", sans-serif;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 640px){
    body {font-size: 1rem;} 
    .sections{margin: 0 1rem;}
    img {
        height: 250px;
        width: 250px;
    }
    .section-1 img {
        height: 200px;
        width: 100%;
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    body {font-size: 1rem;} 
    .sections{margin: 0 5rem;}
    img {
        height: 400px;
        width: 500px;
    }
    .section-1 img {
        height: 400px;
        width: 100%;
    }
}
@media (min-width:960px) and (max-width: 1100px) { 
    body {font-size: 1.2rem;} 
    .sections{margin: 0 10rem;}
    img {
        height: 500px;
        width: 650px;
    }
    .section-1 img {
        height: 500px;
        width: 100%;
    }
}
@media (min-width:1100px) {
    body {font-size: 1.5rem;} 
    .sections{margin: 0 15rem;}
    img {
        height: 500px;
        width: 700px;
    }
    .section-1 img {
        height: 600px;
        width: 100%;
    }
}

.main {
    display: flex;
    flex-direction: column;
}

.sections p {
    margin-bottom: 4rem;
}

.section-1 {
    margin-top: 4rem;
}

.section-1 #overlap-name {
    align-items: center;
}

.piechart-labels {
    align-self: center;
    width: 300px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
}

#sio2 {
    position: relative;
    left: 240px;
}

#fe2o3 {
    position: relative;
    left: 100px;
    top: 130px;
}

#al2o3 {
    position: relative;
    left: -30px;
    top: 50px;
}

#mgo {
    position: relative;
    left: -70px;
    bottom: 20px;
}

#others {
    position: relative;
    left: -80px;
    bottom: 90px;
}

.piechart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    right: 80px;
    background-image: conic-gradient(
                    rgba(254, 242, 148, 0.7) 40.9%,
                    rgba(207, 181, 164, 0.7) 0 63.3%,
                    rgba(254, 78, 179, 0.7) 0 73.3%,
                    rgba(164, 45, 156, 0.7) 0 82.6%,
                    rgba(120, 55, 139, 0.7) 0 
                    );
}

.piechart:hover {
    background-image: conic-gradient(
                    rgb(254, 242, 148) 40.9%,
                    rgb(207, 181, 164) 0 63.3%,
                    rgb(254, 78, 179) 0 73.3%,
                    rgb(164, 45, 156) 0 82.6%,
                    rgb(120, 55, 139) 0 
                    );
}

